html,body{width: 100%;height: 100%;margin:0;padding: 0;}
body{background: url('./images/main-bg.png') no-repeat;background-size: 100% 100%;color: #ffffff;}
.left{float: left;}
.right{float: right}
.clear:after{content: "";display: block;clear: both}
.num1{overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;white-space: nowrap; }
.num3{overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical; }
.inlineB{display: inline-block;}
.none{display: none !important;}
a{display: block;color: #ffffff;text-decoration: none;}

.main ul{display: inline-block;margin:0;padding:0;font-size: 0;}
ul{list-style: none;}
.header{
	width: 100%;
	padding:1.5rem 2%;
	box-sizing: border-box;
}
.user-header{
	width: 5.8rem;
	height: 5.8rem;
	margin-top: 1rem;
	vertical-align: top;
}
.user-info{
	display: inline-block;
	padding-left: 1rem;
}
.user-name,.user-id{
	height: 1.6rem;
	line-height: 1.6rem;
}
.user-name{
	font-size: 1.5rem;
}
.user-id{
	font-size: 1.2rem;
}
.logo{
	width: auto;
	height: 4rem;
	margin-top: 2.5rem;
}
.menu{
	width:100%;
	white-space : nowrap;
	padding:0 2%;
	overflow-x: scroll;
	box-sizing: border-box;
	position: absolute;
	top: 11.3rem;
	bottom: 7.3rem;
}
.menu::-webkit-scrollbar {display:none}
.menu-li{
	width: 48%;
	margin-right: .5%;
	display: inline-block;
	height: 100%;
	font-size: 0;
	vertical-align: top;
	position: relative;
}
.menu-li img,.inlineB{
	height: 100%;
	overflow:hidden;
}
.menu-li-1,.menu-li-2,.menu-li-3{
	position: relative;
	box-sizing: border-box;
	border:.2rem solid transparent;
}

.menu-li-1{
	width: 50%;
	margin-right: 1%;
}
.menu-li-1 img,.menu-li-2 img,.menu-li-3 img{width: 100%;height:100%;}
.menu-li-2{
	width: 50%;
	margin-right: 1%;
}
.menu-li-3{
	width: 23.25%;
	margin-right: 2.15%;
	text-align: center;
}
.menu-li-3-box{
	left: 1%;
}
.menu-li-text{
	line-height: 5rem;
	height: 5rem;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,.6);
	text-align: center;
	font-size: 1.8rem;
	color: #ffffff;
	margin:0;
	border-bottom-left-radius: .4rem;
	border-bottom-right-radius: .4rem;
}
.menu-li-3 .menu-li-text{
	background: rgba(0,0,0,0);
}

.menu-li-3-box{
	position: absolute;
	width: 100%;
	bottom: .2rem;
}
.user-header,.menu-li img,.inlineB{
	border-radius: 1rem;
}


.main{
	font-size: 0;
	width: 100%;
	position: absolute;
	top:4.5rem;
	bottom: 4.5rem;
}
.m-left{
	width: 14%;
	height: 100%;
	vertical-align: top;
}
.center{
	width: 43%;
	height: 100%;
	margin-right: 3%;
	vertical-align: top;
	position: relative;
}
.m-right{
	width: 39%;
	height: 100%;
	vertical-align: top;
	position: relative;
}
.m-left-box{
	display: block;
	margin-top: 32%;
	width:12rem;
	text-align: center;
	background: #39366F;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-left: none;
}
.m-left-box li,.m-left-box .li{
	position: relative;
	margin:2.5rem 0;
}
.rank-icon{
	margin:0;
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	background:url(./images/rank-icon.png)no-repeat;
	background-size: 100%;
	font-size: 1.8rem;
}

.img-screenshot{
	width: 12rem;
	height: 3.7rem;
	line-height: 3.7rem;
	background: #4C4378;
	border-radius: .5rem;
	text-align: center;
	font-size: 1.5rem;
	margin: 0 0 2.4rem 0;
}
.img-game-li{
	width: 95%;
	/*background: #39366F;*/
	position: absolute;
}
.img-game-li img{width: 100%;}
.img-game-li:nth-of-type(2){
	bottom: 0;
}
.c-header{
	font-size: 0;
	vertical-align: top;
}
.img-user-header{
	width: 13rem;
	height: 13rem;
	vertical-align: top;
}
.main .user-info{
	color: #ACA8C1;
	width: auto;
	padding-left:2rem;
}
.main .user-name{
	margin:0;
	color: #ffffff;
	line-height: 3rem;
	height: 3rem;
	font-size: 2.2rem;
	padding-bottom: .5rem;
}
.user-rank,.supplier,.peoples{
	line-height: 1.5rem;
	font-size: 1.4rem;
}
.c-nav{
	width: 100%;
	margin:3.3rem 0;
}
.c-nav p{
	margin:0;
	padding:0;
	width: 10%;
	font-size: 1.8rem;
	padding-right:1rem;
	box-sizing: border-box;
}
.nav-img-box{
	width: 90%;
	height: 5rem;
}
.nav-img{
	display: inline-block;
	width: 21%;
	height: 5rem;
	line-height: 4.5rem;
	box-sizing: border-box;
	margin-right:5%;
	background: url(./images/btn.png)no-repeat;
	background-size: 100% 100%;
	font-size: 2rem;
	text-align: center;
}
.nav-img:nth-of-type(4){
	margin-right: 0;
}

.c-title{
	font-size: 1.8rem;
	margin: 0;
	margin-bottom: 1rem;
}
.c-text{
	margin: 0;
	font-size: 1.5rem;
	line-height: 2.8rem;
	color: #ACA8C1;
}
.c-footer{
	position: absolute;
	bottom: 0;/**-.2rem;**/
	width: 100%;
	height: 12rem;
}

.c-footer>p{
	width: 6.5%;
	background: #302953;
	font-size: 1.8rem;
	text-align: center;
	padding: 3.7rem 0;
	margin:0;
}
.c-menu{
	width: 88%;
	vertical-align: top;
	display: flex;
	height: 100%;
	position: relative;
	bottom: .2rem;
}
.c-menu .menu-li-3{
	flex: 1;
	margin-right: 3rem;
	position: relative;
	overflow:hidden;
	display: inline-block;
	height: 100%;
	text-align: center;
}
.menu-li-3:nth-of-type(1){
	background: #47487D;
}
.menu-li-3:nth-of-type(2){
	background: #1B3571;
}
.menu-li-3:nth-of-type(3){
	background: #00444F;
}
.menu-li-3:nth-of-type(4){
	background: #734DB8;
}
.c-menu .menu-li-3 img,.menu-li-3 img{
	width: 80%;
	margin:.8rem auto;
}
.c-menu .menu-li-text{
	width: 100%;
	line-height: 5rem;
	height: 5rem;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 1.8rem;
	margin:0;
}

.nav-img:last-child,.c-menu .menu-li-3:last-child{
	margin-right: 0;
}
.ranks,.bigs{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: rgba(0,0,0,.9);
}
.rank-box{
	width: 45rem;
	background: url(./images/rank-box.png)no-repeat;
	background-size: 100% 100%;
	height: 100%;
	position: absolute;
}
.rank-box.active{
	animation:leftRankIn .5s;
	-webkit-nimation:leftRankIn .5s;
}
.bigs{
	background: rgba(0,0,0,.9);
}
.bigs img{
	display: block;
	margin:0 auto;
}
.bigs.w img{
	width: 100%;
}
.bigs.h img{
	height: 100%;
}
.bigs.active img{
	animation:bigImg .35s;
	-webkit-nimation:bigImg .35s;
}
@keyframes leftRankIn
{
	from {left:-45rem;}
	to {left:0;}
}
@-webkit-keyframes leftRankIn
{
	from {left:-45rem;}
	to {left:0;}
}

@keyframes bigImg
{
	from {transform: scale(0);}
	to {transform: scale(1);}
}
@-webkit-keyframes bigImg
{
	from {transform: scale(0);}
	to {transform: scale(1);}
}
.rank{
	list-style: none;
	box-sizing: border-box;
	width: 100%;
	padding-left: 0;
}
.rank li{
	vertical-align: top;
	border-bottom:.05rem solid #3E3B67;
	box-sizing: border-box;
}
.rank li:first-child{
	margin-top: 2rem;
}
.rank li:last-child{
	border-bottom-color:transparent;
}
.rank-num,.rank-header,.rank-user,.rank-score{
	float: left;
	display: inline-block;
	font-size: 1.5rem;
	width: 25%;
	margin:0;
	margin-top: 1.8rem;
}
.rank-header{
	width: 6rem;
	height: 6rem;
	margin: 0 2rem;
}
.img-num{
	width: 2.2rem;
	height: 2.2rem;
	line-height: 1.8rem;
	position: absolute;
	top: -1rem;
	left: 0;
	font-size: 1.1rem;
}
.rank-num{
	display: inline-block;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}
.img-num,.rank-num{
	background: url(./images/rank-num.png)no-repeat;
	background-size: 100% 100%;
}
.rank li:nth-of-type(1) .rank-num,.rank li:nth-of-type(2) .rank-num,.rank li:nth-of-type(3) .rank-num{
	margin-top: .8rem;
	height: 4.8rem;
	line-height: 2.9rem;
}
.m-left-box li:nth-of-type(1) .img-num,.m-left-box li:nth-of-type(2) .img-num,.m-left-box li:nth-of-type(3) .img-num{
	height: 4rem;
}
.rank li:nth-of-type(1) .rank-num,.m-left-box li:nth-of-type(1) .img-num{
	background: url(./images/rank-num-1.png)no-repeat;
	background-size: 100% auto;
	color:#CD8101;
}
.rank li:nth-of-type(2) .rank-num,.m-left-box li:nth-of-type(2) .img-num{
	background: url(./images/rank-num-2.png)no-repeat;
	background-size: 100% auto;
	color:#7A808C;
}
.rank li:nth-of-type(3) .rank-num,.m-left-box li:nth-of-type(3) .img-num{
	background: url(./images/rank-num-3.png)no-repeat;
	background-size: 100% auto;
	color:#7C5146;
}
.rank-user{
	width: 40%;
}
.rank-score{
	float: right;
	text-align: right;
	font-size: 2rem;
	font-weight: bold;
}
div.rank{
	position: absolute;
	bottom: 0;
	background: #3D3B6C;
	left: 0;
	right: 0;
}
div.rank,.rank li{padding:1.65rem 2.5rem;}

.m-left-box,.c-menu .menu-li-3,.img-game-li{
	border:.2rem solid transparent;
}
.img-header,.img-game-li,.img-user-header,.c-footer>p,.c-menu .menu-li-3,.c-menu .menu-li-3 img,.rank-header
{border-radius: 1rem;overflow:hidden;}

.img-header,.rank-header{
	/*background: rgba(0,0,0,.5);*/
}
.img-header{width: 4rem;height: 4rem;}


@media screen and (max-width: 1280px) {
.menu{
	padding:0 2%;
	top: 7rem;
	bottom: 5rem;
}
.logo{
	height: 2.5rem;
	margin-top: 1rem;
}
.user-info{padding-left:.6rem;}
.user-header{
	width: 3.5rem;
	height: 3.5rem;
	margin-top: 0;
}
.user-name, .user-id{
	height: .4rem;
	line-height: .4rem;
}
.user-name{
	font-size: 100%;
}
.user-id{
	font-size: 70%;
}
.menu-li-2-box{
	height: 63%;
}
.menu-li-3-box{
	height: 35%;
}
.menu-li-text{
	line-height: 3rem;
	height: 3rem;
	font-size: 1.2rem;
}
.user-header,.menu-li img,.inlineB{
	border-radius: .5rem;
	overflow:hidden;
}


.main{
	top: 3.5rem;
	bottom: 3.5rem;
}
.m-left-box{
	width: 8rem;
	margin-top: 15%;
}
.img-user-header{
	width: 7rem;
	height: 7rem;
}
.main .user-name{
	line-height: 1.5rem;
	height: 1.5rem;
    font-size: 1.3rem;
    padding-bottom: .4rem;
}
.user-rank, .supplier, .peoples{
	margin:.8rem 0;
	line-height: .85rem;
	font-size: .88rem;
}
.rank-icon{
	font-size: 1.2rem;
	line-height: 3.1rem;
	height: 3.1rem;
}
.m-left-box li,.m-left-box .li{
	margin:2rem 0;
}
.img-num{
	left:0;
}
.c-nav p{
	font-size: 1.2rem;
}
.nav-img-box{
	line-height: 3.1rem;
	height: 3.1rem;
}
.c-nav{
	margin:2.5rem 0;
}
.nav-img{
	line-height: 3.1rem;
	height: 3.1rem;
	font-size: 1.3rem;
}
.c-title{
	font-size: 1.2rem;
	padding-bottom: 0;
}
.c-text{
	font-size: 1rem;
	line-height: 2rem;
}
.c-footer>p{
	font-size: 1.2rem;
	padding: 2.8rem 0;
}
.c-menu .menu-li-text{
	font-size: 1.2rem;
	line-height: 3.1rem;
	height: 3.1rem;
}
.img-game-li{
	width: 91%;
}
.img-screenshot{
	font-size: 1.2rem;
	width: 9rem;
    height: 3.1rem;
    line-height: 3.1rem;
    margin: 0 0 1.5rem 0;
}
.img-header,.img-game-li img,.img-user-header,.c-footer>p,.c-menu .menu-li-3,.c-menu .menu-li-3 img,.rank-header
{border-radius: .5rem;}
.rank-box{width:32rem;}
.rank li:first-child{margin-top: 1rem;}
div.rank, .rank li {
    padding: 1.1rem 1.8rem;
}
.c-menu .menu-li-3{
	margin-right: 1.5rem;
}
.rank-header{
	width: 4rem;height: 4rem;
}
.rank-num, .rank-header, .rank-user, .rank-score{
	font-size: 1.2rem;
	margin-top: 0;
}
.rank-header{
	margin:0 1rem;
}
.rank-num,.rank-user, .rank-score{
	margin-top: 1.3rem;
}
.rank-num{
	width: 2rem;
    height: 2rem;
    line-height: 2rem;
}
.main .user-info{
	padding-left: 1.2rem;
}
.img-num{
	width:1.6rem;
	height:1.6rem;
	top: -.5rem;
	font-size: 1rem;
	line-height: 1.6rem;
}
.rank li:nth-of-type(1) .rank-num,.rank li:nth-of-type(2) .rank-num,.rank li:nth-of-type(3) .rank-num{
	margin-top: .8rem;
	height: 3rem;
	line-height: 1.9rem;
}
.m-left-box li:nth-of-type(1) .img-num,.m-left-box li:nth-of-type(2) .img-num,.m-left-box li:nth-of-type(3) .img-num{
	height: 3rem;
}
}	

.menu .menu-list{
	border:.2rem solid transparent;
	box-sizing: border-box;
	display: inline-block;
	width: 22%;
	height: 100%;
	position: relative;
	overflow:hidden;
	margin-right:1%;
	vertical-align: top;
}

.rank-icon{
border-top-right-radius: .4rem;
border-bottom-right-radius: .4rem;
}


.menu-li-1.ative,.menu-li-2.ative,.menu-li-3.ative,
.menu-li-1:focus,.menu-li-2:focus,.menu-li-3:focus
{
	border-color:#F7D512;
	transition: all .35s;
	-webkit-transition: all .35s;
	outline: 0;
}
.menu-li-1.ative .menu-li-text,.menu-li-2.ative .menu-li-text,.menu-li-3.ative .menu-li-text,
.menu-li-1:focus .menu-li-text,.menu-li-2:focus .menu-li-text,.menu-li-3:focus .menu-li-text,
.menu .menu-list:focus .menu-li-text
{

	background: #F7D512;
	color: #000000;
	transition: all .35s;
	-webkit-transition: all .35s;
	outline: 0;
}
.m-left-box:focus,.m-left-box.active,.menu .menu-list:focus,.img-game-li:focus{
	border-color:#F7D512;
	outline: 0;
}
.m-left-box:focus .rank-icon,.m-left-box.active .rank-icon{
	background:url(./images/rank-icona.png)no-repeat;
	outline: 0;
}
.nav-img:focus,.nav-img.active{
	background: url(./images/btna.png)no-repeat;
	background-size: 100% 100%;
	color: #AB4F02;
	transition: all .35s;
	-webkit-transition: all .35s;
	outline: 0;
}

.loading{
	width: 3rem;
	height: 3rem;
	position: fixed;
	z-index: 99;
	padding:1rem;
	background: rgba(0,0,0,.5);
	border-radius:.8rem;
	margin:-1.5rem 0 0 -1.5rem;
	left: 50%;
	top: 50%;
}
._my{position: relative;width: 4rem;height: 4rem;margin:0 auto 2rem auto;}
.my_mc{
	position: absolute;
	bottom: 0;left: 0;right: 0;
	height:1.2rem;line-height:1.2rem;
	background:rgba(0,0,0,.8);
	color: #ffffff;font-size:.6rem;
	border-bottom-left-radius:.5rem;
	border-bottom-right-radius:.5rem;
}